<template>
  <div class="new-post">
    <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
      <div class="dropboxContainer">
        <div class="dropbox">
          <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
            accept="image/*" class="input-file">
            <p v-if="isInitial">
              Drag your file here to upload<br> or click to browse
            </p>
            <p v-if="isSaving">
              Uploading file...
            </p>
        </div>
        <md-input-container>
          <label for="tags" class="tags">Tag this photo</label>
          <md-select name="tags" id="tags" multiple v-model="tags">
            <md-subheader>Tags</md-subheader>
            <md-option value="nature">Nature</md-option>
            <md-option value="animal">Animal</md-option>
            <md-option value="people">People</md-option>
            <md-option value="anime">Anime</md-option>
          </md-select>
        </md-input-container>
      </div>
    </form>

    <!--SUCCESS-->
    <div v-if="isSuccess" style="text-align: center;">
      <h3 class="md-title">Uploaded file successfully.</h3>
      <p>
        <md-button class="md-raised md-primary" href="javascript:void(0)" @click.native="reset()">Upload more</md-button>
      </p>
      <div class="newUpload">
        <img :src="uploadedFiles.url" class="img-responsive img-thumbnail" :alt="uploadedFiles.originalName">
      </div>
    </div>
    <!--FAILED-->
    <div v-if="isFailed" style="text-align: center;">
      <h3 class="md-title" style="text-align: center;">Uploaded failed.</h3>
      <p>
        <a href="javascript:void(0)" @click="reset()">Try again</a>
      </p>
      <pre>{{ uploadError }}</pre>
    </div>
  </div>
</template>

<script>
  import { upload } from '../../api/file-upload.service'
  import { wait } from '../../api/utils'

  const STATUS_INITIAL = 0
  const STATUS_SAVING = 1
  const STATUS_SUCCESS = 2
  const STATUS_FAILED = 3

  export default {
    name: 'new-post',
    props: ['albumID'],
    data () {
      return {
        tags: [],
        uploadedFiles: '',
        uploadError: null,
        currentStatus: null,
        uploadFieldName: 'photos'
      }
    },
    computed: {
      isInitial () {
        return this.currentStatus === STATUS_INITIAL
      },
      isSaving () {
        return this.currentStatus === STATUS_SAVING
      },
      isSuccess () {
        return this.currentStatus === STATUS_SUCCESS
      },
      isFailed () {
        return this.currentStatus === STATUS_FAILED
      }
    },
    methods: {
      reset () {
        // reset form to initial state
        this.currentStatus = STATUS_INITIAL
        this.uploadedFiles = ''
        this.tags = []
        this.uploadError = null
      },
      save (formData) {
        // upload data to the server
        this.currentStatus = STATUS_SAVING
        upload(this.albumID, formData)
          .then(wait(2000))
          .then(x => {
            this.uploadedFiles = x
            this.currentStatus = STATUS_SUCCESS
          })
          .catch(err => {
            throw err
            // this.uploadError = err.response
            // this.currentStatus = STATUS_FAILED
          })
      },
      filesChange (fieldName, fileList) {
        // handle file changes
        const formData = new FormData()

        if (!fileList.length) return

        // append the files to FormData
        Array
          .from(Array(fileList.length).keys())
          .map(x => {
            formData.append(fieldName, fileList[x], fileList[x].name)
            fileList[x].tags = this.tags
            formData.append('tags', JSON.stringify(this.tags))
            // console.log(this.tags)
            // console.log(fileList[x].tags)
          })

        // save it
        this.save(formData)
      }
    },
    mounted () {
      this.reset()
    }
  }
</script>

<style lang="scss">
    .dropbox {
    outline: 2px dashed grey; /* the dash box */
    outline-offset: -10px;
    background: lightcyan;
    color: dimgray;
    min-height: 200px;
    cursor: pointer;
    position: relative;
  }
  .input-file {
    opacity: 0; /* invisible but it's there! */
    width: 100%;
    height: 200px;
    position: absolute;
    cursor: pointer;
  }
  .dropbox:hover {
    background: lightblue; /* when mouse over to the drop zone, change color */
  }
  .dropbox p {
    font-size: 1.2em;
    text-align: center;
    padding: 50px 0;
  }
  .tags {
    padding-left:15px;
  }
  .newUpload {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
    margin: auto;
    display: block;
  }
</style>
