<template>
  <div class="post">
    <md-list-item>
      <div class="container">
        <md-card md-with-hover class="center-cropped">
          <img class="crop" v-bind:src=" 'http://localhost:3000' + post.ImageLocation"/>
        </md-card>
        <div class="hashtag">
          <div v-if="hasTags">
            <h5 v-for="tag in tags" style="float: left;"> #{{tag}} </h5>
          </div>
          <div v-else>
            <h3>No Tags</h3>
          </div>
        </div>
      </div>
    </md-list-item>
  </div>
</template>

<script>
import { getTags } from '../../api/get-tags.service.js'

export default {
  name: 'post',
  data () {
    return {
      tags: []
    }
  },
  props: {
    post: {
      type: Object,
      required: false,
      default: {}
    }
  },
  computed: {
    hasTags () {
      return this.tags.length !== 0
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      getTags(this.post.id)
      .then((data) => {
        // console.log('hello', data)
        return data
      })
      .then((data) => data.map((item) => item.name))
      .then((data) => {
        this.tags = data
        // console.log('hello 1', data)
      })
      .catch((err) => {
        throw err
      })
    }
  }
}
</script>

<style scoped>
  .container {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  .center-cropped {
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
  }
  .hashtag {
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
  }
  .crop {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto; 
    height: auto;
    width: auto;
  }
</style>
