<template>
  <div class="sign-in">
    <md-list class="md-double-line">
      <md-subheader class="md-inset">Sign In</md-subheader>
      <md-list-item>
        <md-avatar class="md-avatar-icon">
          <md-icon>folder</md-icon>
        </md-avatar>
        <div class="md-list-text-container">
          <md-input-container>
            <label>Username</label>
            <md-input v-model="username" placeholder=""></md-input>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item>
        <md-avatar class="md-avatar-icon">
          <md-icon>folder</md-icon>
        </md-avatar>
        <div class="md-list-text-container">
          <md-input-container>
            <label>Password</label>
            <md-input v-model="password" placeholder="" type="password" @keyup.enter.native="login"></md-input>
          </md-input-container>
        </div>
      </md-list-item>
      <md-list-item>
        <span style="flex: 1"></span>
        <md-button class="md-raised md-primary" @click.native="login">Login</md-button>
        <span style="flex: 1"></span>
      </md-list-item>
    </md-list>
  </div>
</template>

<script>
import { login } from '../api/log-in.service.js'
import router from '../router/index'

export default {
  name: 'sign-in',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    login () {
      // console.log('methods.login')
      login(this.username, this.password, function (_response) {
        router.push({ name: 'Albums.index' })
      })
    }
  }
}
</script>

<style scoped>
</style>
