<template>
  <form novalidate @submit.stop.prevent="open">
    <div class="sign-up">
      <md-list class="md-double-line">
        <md-subheader class="md-inset">Sign Up</md-subheader>
        <md-list-item>
          <md-avatar class="md-avatar-icon">
            <md-icon>folder</md-icon>
          </md-avatar>
          <div class="md-list-text-container">
            <md-input-container>
              <label>Username</label>
              <md-input v-model="username" placeholder=""></md-input>
            </md-input-container>
          </div>
        </md-list-item>
        <md-list-item>
          <md-avatar class="md-avatar-icon">
            <md-icon>folder</md-icon>
          </md-avatar>
          <div class="md-list-text-container">
            <md-input-container>
              <label>Password</label>
              <md-input v-model="password" placeholder="" type="password" @keyup.enter.native="signUp"></md-input>
            </md-input-container>
          </div>
        </md-list-item>
        <md-list-item>
          <md-avatar class="md-avatar-icon">
            <md-icon>folder</md-icon>
          </md-avatar>
          <div class="md-list-text-container">
            <md-input-container>
              <label>First Name</label>
              <md-input v-model="firstname" placeholder=""></md-input>
            </md-input-container>
          </div>
        </md-list-item>
        <md-list-item>
          <md-avatar class="md-avatar-icon">
            <md-icon>folder</md-icon>
          </md-avatar>
          <div class="md-list-text-container">
            <md-input-container>
              <label>Last Name</label>
              <md-input v-model="lastname" placeholder=""></md-input>
            </md-input-container>
          </div>
        </md-list-item>
        <md-button type="submit" class="md-raised md-primary" @click.native="signUp" style="margin-top: 30px;">Sign Up</md-button>

        <md-snackbar ref="snackbar" :md-duration="duration">
          <span>A new account has been created</span>
          <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Close Message</md-button>
        </md-snackbar>
      </md-list>
    </div>
  </form>
</template>

<script>
import { signUp } from '../api/sign-up.service.js'
import router from '../router'

export default {
  name: 'sign-up',
  data () {
    return {
      username: '',
      password: '',
      firstname: '',
      lastname: '',
      duration: 4000
    }
  },
  methods: {
    signUp () {
      // console.log('methods.signUp')
      // console.log(this.username, this.password, this.firstname, this.lastname)
      signUp(this.username, this.password, this.firstname, this.lastname, function (_response) {
        router.push({ name: 'AlbumsIndex' })
      })
    },
    open () {
      if (this.username && this.password && this.firstname && this.lastname) {
        this.$refs.snackbar.open()
      }
    }
  }
}
</script>

<style scoped>
</style>
