<template lang="html">
  <div class="left-sidenav">
    <md-toolbar>
      <md-button class="md-icon-button" @click.native="toggleLeftSidenav">
        <md-icon>menu</md-icon>
      </md-button>
      <h2 class="md-title">Image Hosting Web App</h2>
    </md-toolbar>
    <md-sidenav class="md-left" ref="leftSidenav">
      <md-toolbar class="md-large">
        <div class="md-toolbar-container">
          <h3 class="md-title">Navigate</h3>
        </div>
      </md-toolbar>
      <md-content flex role="navigation">
          <div v-if="isLoggedIn">
            <md-list>
              <md-list-item>
                <md-button @click.native="routeAlbums">All Albums</md-button>
              </md-list-item>
              <md-list-item>
                <md-button @click.native="routeCreate">Create Album</md-button>
              </md-list-item>
              <md-list-item>
                  <md-button @click.native="routeNewAccount">Create New User</md-button>
              </md-list-item>
              <md-list-item>
                  <md-button @click.native="logOut">Logout</md-button>
              </md-list-item>            
            </md-list>
          </div>
          <div v-else>
            <md-list>
              <md-list-item>
                <md-button @click.native="routeAlbums">All Albums</md-button>
              </md-list-item>
              <md-list-item>
                <md-button @click.native="routeLogIn">Log In</md-button>
              </md-list-item>
            </md-list>
          </div>
        </md-content>
    </md-sidenav>
  </div>
</template>

<script>
// import UsersApi from './api/users.js'
import router from './router'
import store from './store.js'
import { logout } from './api/log-out.service.js'

export default {
  name: 'sign-out',
  data () {
    return {
      username: '',
      password: ''
    }
  },
  computed: {
    isLoggedIn () {
      return store.state.auth
    }
  },
  methods: {
    toggleLeftSidenav () {
      // console.log(store.state.auth)
      this.$refs.leftSidenav.toggle()
    },
    routeCreate () {
      router.push({ name: 'Albums.new' })
    },
    routeAlbums () {
      router.push({ name: 'Albums.index' })
    },
    routeNewAccount () {
      router.push({ name: 'Users.sign_up' })
    },
    routeLogIn () {
      router.push({ name: 'Users.sign_in' })
    },
    logOut () {
      logout(function (_response) {
        router.push({ name: 'Users.sign_in' })
      })
    }
  }
}
</script>

<style lang="css">
</style>
