<template>
  <div class="album">
    <md-list-item>
      <md-avatar>
        <md-icon>account_circle</md-icon>
      </md-avatar>
      <div class="md-list-text-container">
        <span>{{ album.id }}</span>
        <span>{{ album.name }}</span>
        <span>{{ album.isPublic }}</span>
      </div>
    </md-list-item>
  </div>
</template>

<script>
export default {
  name: 'album',
  props: {
    album: {
      type: Object,
      required: false,
      default: {}
    }
  }
}
</script>

<style scoped>
  .md-list-item {
    padding-left: 40px;
  }
</style>
