<template>
  <div class="albums">
    <md-list class="custom-list md-triple-line" v-for="album in albums">
      <md-card md-with-hover class="post" @click.native="goToAlbum(`${album.id}`)">
        <md-card-header>
          <div class="md-title">{{ album.name }}</div>
        </md-card-header>
      </md-card>
    </md-list>
  </div>
</template>

<script>
import { getAllAlbums } from '../../api/get-all-album.service.js'
import { getAllPublicAlbums } from '../../api/get-all-public-album.service.js'
import store from '../../store.js'
import router from '../../router'

export default {
  name: 'albums',
  data () {
    return {
      albums: null,
      error: null
    }
  },
  methods: {
    goToAlbum (albumID) {
      router.push({ name: 'Albums.show', params: { albumID: albumID } })
    }
  },
  beforeRouteEnter (to, from, _next) {
    var auth = store.state.auth

    if (auth) {
      getAllAlbums().then((data) => {
        _next(vm => {
          vm.albums = data
        })
      })
    } else {
      getAllPublicAlbums().then((data) => {
        _next(vm => {
          vm.albums = data
        })
      })
    }
  },
  watch: {
    $route () {
      var auth = store.state.auth

      if (auth) {
        getAllAlbums().then((data) => {
          this.albums = data
        })
      } else {
        getAllPublicAlbums().then((data) => {
          this.albums = data
        })
      }
    }
  }
}
</script>

<style scoped>
  .albums {
    padding: 5px 10px;
  }

  .post {
    margin-top: 5px;
    margin-bottom: 5px;
  }


</style>
