<template>
  <div class="new-album">
    <md-list>
      <md-list-item>
        <md-avatar class="md-avatar-icon">
          <md-icon>folder</md-icon>
        </md-avatar>
        <div class="md-list-text-container">
          <md-input-container>
            <label>Album Name</label>
            <md-input v-model="album.name" placeholder=""></md-input>
          </md-input-container>
        </div>
      </md-list-item>
      <div style="margin-left: 110px">
        <div class="md-body-2">Publicity Setting</div>
          <md-radio v-model="isPublic" id="private" name="publicityChoice" md-value="false">Private</md-radio>
          <md-radio v-model="isPublic" id="public" name="publicityChoice" md-value="true">Public</md-radio>
      </div>
      <md-button class="md-primary md-raised" @click.native="createAlbum" style="margin-top: 30px;">Create Album</md-button>
    </md-list>
  </div>
</template>

<script>
import { createAlbum } from '../../api/create-album.service.js'
import router from '../../router'

export default {
  name: 'new-album',
  data () {
    return {
      duration: 4000,
      isPublic: '',
      album: {
        id: '',
        name: ''
      }
    }
  },
  props: {
    album: {
      type: Object,
      required: false,
      default: {}
    }
  },
  methods: {
    createAlbum () {
      var albumName = this.album.name
      var isPublic = this.isPublic

      // console.log(isPublic)
      createAlbum(albumName, isPublic).then((data) => {
        router.push({ name: 'Albums.show', params: { albumID: data.id } })
      })
    }
  }
}
</script>

<style scoped>
.md-list-item {
  padding-left: 40px;
}
</style>
