<template>
  <div class="post">
    <md-card class="show">
      <nav class="md-toolbar md-dense md-theme-white" id="topNav">
        <h3 class="md-title">{{ this.album }}</h3>
      </nav>
      <div class="md-tabs-content">
        <md-list v-for="post in posts" id="img">
          <iccs340-post :post="post"></iccs340-post>
        </md-list>
      </div>
    </md-card>
    <div v-if="isLoggedIn">
      <iccs340-new-post :albumID="this.albumID"></iccs340-new-post>
    </div>
  </div>
</template>

<script>
import { getAllPhotos } from '../../api/get-photos-from-album.service.js'
import store from '../../store.js'

export default {
  name: 'album',
  components: {
    Iccs340Post: require('../posts/Post'),
    Iccs340NewPost: require('../posts/New')
  },
  computed: {
    isLoggedIn () {
      return store.state.auth
    }
  },
  data () {
    return {
      album: {},
      albumID: '',
      posts: [],
      error: null
    }
  },
  created () {
    this.fetchData()
  },
  watch: {
    '$route': 'fetchData'
  },
  methods: {
    fetchData () {
      getAllPhotos(this.$route.params.albumID).then((data) => {
        // console.log(data)
        this.album = data.album.name
        this.albumID = data.album.id
        this.posts = data.images
      })
    }
  }
}
</script>

<style scoped>
  .post {
    padding: 5px 10px;
  }
  .show {
    margin-top: 5px;
  }
  #topNav {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
  }
  #img {
    float: left;
    padding-left: 12px;
  }
</style>
